.header {
    background-color: var(--cor-link);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline; 
  }
  